<div class="selected-shoe" data-sid="shoe-{{id}}">
    <h2>{{name}}</h2>
    <p class="description">{{description}}</p>
    <div class="price">${{price}}</div>
    <img class="thumbnail" src="img/{{src}}" />
</div>